{% extends 'base.html' %}

{% load widget_tweaks %}

{% block head %}
    <title>
        Plans
    </title>
    <style>
        .plan-goal-input{
        }
        .delete-plan-goal > span{
        }
        .add-plan-goal > span{
        }
    </style>

    <script>
        var lastAddedPlanGoal = 1;
        $(document).ready(function(){
            $(document).on('keypress', ".plan-goal-input", function(event){
                if(event.which == 13)
                {
                    event.preventDefault();
                    var planGoalsDiv = $(this).parents().eq(3);
                    addNewPlanGoal(planGoalsDiv);
                    return false;
                }
            });


            $(document).on('click' , '.delete-plan-goal', function(){
                $(this).parents().eq(2).remove();
            });

            $(document).on('click' , '.add-plan-goal', function(){
                var planGoalsDiv = $(this).parents().eq(3);
                addNewPlanGoal(planGoalsDiv);
            })

        });


        function addNewPlanGoal(planGoalsDiv){
            lastAddedPlanGoal ++;
            var number = lastAddedPlanGoal;

            var appendingData = '<div class="row" style="margin-top:10px"> '+
                    ' <div class="input-group"> '+
                    '<div class="input-group-addon">'+
                    ' <span class="glyphicon glyphicon-trash delete-plan-goal"></span> '+
                    '</div>'+
                    ' <div id="plan-goal-' + number + '"> '+
                    ' <input type="text" id="plan-goal-input-' + number + '" '+ ' name="plan-goal-input-' + number + '" '+ ' class="plan-goal-input form-control"/> '+
                    ' </div> '+
                    ' </div> '+
                    ' </div> ';

            $(planGoalsDiv).append(appendingData);

            var appendedInputId = "plan-goal-input-" + number;

            $("#" + appendedInputId).focus();
        }
    </script>
{% endblock %}


{% block content %}
    <div>
        <form action="" method="post" class="form-horizontal">
            {% csrf_token %}
            {% if planForm.non_fields_error %}
                {% for error in planForm.non_fields_error %}
                    <p class="text-danger" style="font-size: small" > {{ error }} </p>
                {% endfor %}
            {% endif %}

            <div class="form-group">
                {{ planForm.title.label_tag}} {{ planForm.title | add_class:'form-control'}}
                {% if planForm.title.errors %}
                    {% for error in planForm.title.errors %}
                        <p class="text-danger" style="font-size: small" > {{ error }} </p>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group">
                {{ planForm.number.label_tag }} {{ planForm.number | add_class:'form-control' }}
                {% if planForm.number.errors %}
                    {% for error in planForm.number.errors %}
                        <p class="text-danger" style="font-size: small" > {{ error }} </p>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group">
                <label>Goals:</label>
                <div id="plan-goals">
                    <div class="row " style="margin-top:10px">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-plus add-plan-goal"></span>
                            </div>
                            <div id="plan-goal-1">
                                <input type="text" id="plan-goal-input-1" name="plan-goal-input-1" class="plan-goal-input form-control"/>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input class="btn btn-default" value="Save" type="submit">
            </div>
        </form>
    </div>
{% endblock %}