{%  extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}
{% block head %}
    <title> Forms </title>
    <script>
        $(document).ready(function(){
            $("#id_start_date").persianDatepicker({
                formatDate: "YYYY/0M/0D",
                cellWidth:30,
                cellHeight:30,
                <!-- startDate: "1394/11/12", -->
                <!-- endDate:"1396/5/5", -->
                onSelect:function () {
{#                    setGregorian()#}
                }
            });
        });
    </script>

    <link rel="stylesheet" href="{% static 'PersianDatePicker/css/prism.css' %}">
    <link rel="stylesheet" href="{% static 'PersianDatePicker/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'PersianDatePicker/css/vertical-responsive-menu.min.css' %}">
    <link rel="stylesheet" href="{% static 'PersianDatePicker/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'PersianDatePicker/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'PersianDatePicker/css/persianDatepicker-default.css' %}">
    <link rel="stylesheet" href="{% static 'PersianDatePicker/css/persianDatepicker-dark.css' %}">
    <link rel="stylesheet" href="{% static 'PersianDatePicker/css/persianDatepicker-latoja.css' %}">
    <link rel="stylesheet" href="{% static 'PersianDatePicker/css/persianDatepicker-lightorang.css' %}">
    <link rel="stylesheet" href="{% static 'PersianDatePicker/css/persianDatepicker-melon.css' %}">

    <script src="{% static 'PersianDatePicker/js/prism.min.js' %}"></script>
    <script src="{% static 'PersianDatePicker/js/persianDatepicker.min.js' %}"></script>
    <script src="{% static 'PersianDatePicker/js/vertical-responsive-menu.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-10 col-sm-push-1">
            <form action="" method="post" class="form-horizontal">
                {% csrf_token %}

                <div class="form-group">
                    {{ projectForm.title.label_tag }} {{ projectForm.title|add_class:'form-control'|attr:"placeholder: Enter title" }}
                    {% if projectForm.title.errors %}
                        {% for error in projectForm.title.errors %}
                            <p class="text-danger" style="font-size: small"> {{ error }} </p>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ projectForm.number.label_tag }} {{ projectForm.number|add_class:'form-control' }}
                    {% if projectForm.number.errors %}
                        {% for error in projectForm.number.errors %}
                            <p class="text-danger" style="font-size: small"> {{ error }} </p>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ projectForm.start_date.label_tag }} {{ projectForm.start_date|add_class:"datepicker" }}
                    {% if projectForm.start_date.errors %}
                        {% for error in projectForm.start_date.errors %}
                            <p class="text-danger" style="font-size: small"> {{ error }} </p>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ projectForm.end_date.label_tag }} {{ projectForm.end_date|add_class:"datepicker" }}
                    {% if projectForm.end_date.errors %}
                        {% for error in projectForm.end_date.errors %}
                            <p class="text-danger" style="font-size: small"> {{ error }} </p>
                        {% endfor %}
                    {% endif %}
                </div>


                <div class="form-group">
                    {{ projectForm.importance.label_tag }} {{ projectForm.importance|add_class:'form-control' }}
                    {% if projectForm.importance.errors %}
                        {% for error in projectForm.importance.errors %}
                            <p class="text-danger" style="font-size: small"> {{ error }} </p>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ projectForm.abstract.label_tag }} {{ projectForm.abstract|add_class:'form-control' }}
                    {% if projectForm.abstract.errors %}
                        {% for error in projectForm.abstract.errors %}
                            <p class="text-danger" style="font-size: small"> {{ error }} </p>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ projectForm.result.label_tag }} {{ projectForm.result|add_class:'form-control' }}
                    {% if projectForm.result.errors %}
                        {% for error in projectForm.result.errors %}
                            <p class="text-danger" style="font-size: small"> {{ error }} </p>
                        {% endfor %}
                    {% endif %}
                </div>

                <input type="submit" value="Submit" class="btn btn-success">
            </form>
        </div>
    </div>

{% endblock %}