{% extends "base.html" %}
{% load widget_tweaks %}
{% block head %}
    <title>New scientific area</title>
    <style>
        .no_padding_margin {
            padding: 0;
            margin:0;
        }
    </style>
    <script>
        $(document).ready(function(){
            check_plan_or_project();
            $(document).on("change", "input[name=plan_or_project]", function(){
                check_plan_or_project();
            })
        });

        function check_plan_or_project() {
            value = $("input[name=plan_or_project]:checked").val();
            if (value == "plan") {
                $("#project_select").hide();
                $("#plan_select").show();
            }
            else if (value == "project") {
                $("#plan_select").hide();
                $("#project_select").show();
            }
        }
    </script>
{% endblock %}
{% block content %}
    <form action="" method="post" >
        {% csrf_token %}
        {% if an %}
            goh
        {% endif %}
        {{ science_package_topic_form.non_field_errors }}


        <div class="row form-group" >
            <div class="col-md-2">
                {{ science_package_topic_form.title.label_tag }}
            </div>
            <div class="col-md-10">
                {{ science_package_topic_form.title|add_class:"form-control"}}
                {{ science_package_topic_form.title.errors }}
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-2">
                {{ science_package_topic_form.description.label_tag }}
            </div>
            <div class="col-md-10">
                {{ science_package_topic_form.description|add_class:"form-control" }}
                {{ science_package_topic_form.description.errors }}
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-2">
                مربوط به:
            </div>
            <div class="col-md-3">
                <input {% if plan_or_project %} {% if plan_or_project == 'plan'%} checked="checked" {% endif %} {% else %} checked="checked" {% endif %} type="radio" name="plan_or_project" value="plan" id="pop_plan">
                <label for="pop_plan" class="radio-inline no_padding_margin"> طرح </label>

                <input {% if plan_or_project %} {% if plan_or_project == 'project'%} checked="checked" {% endif %}{% endif %} type="radio" name="plan_or_project" value="project" id="pop_project">
                <label for="pop_project" class="radio-inline no_padding_margin"> پروژه </label>
            </div>
            <div class="col-md-7">
                <div id="plan_select" class="row">
                    <div class="col-md-2 text-left" style="padding-top:5px;">
                        طرح ها:
                    </div>
                    <div class="col-md-6">
                        {{ science_package_topic_form.plan|add_class:"form-control"}}
                    </div>
                    <div class="col-md-4">
                        {{ science_package_topic_form.plan.errors }}
                    </div>
                </div>
                <div id="project_select" class="row" style="display: none;">
                    <div class="col-md-2 text-left" style="padding-top:5px;">
                        پروژه ها:
                    </div>
                    <div class="col-md-6">
                        {{ science_package_topic_form.project|add_class:"form-control"}}
                    </div>
                    <div class="col-md-4">
                        {{ science_package_topic_form.project.errors }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-10 col-md-push-2">
                <input class="btn btn-success" type="submit" value="ثبت">
            </div>
        </div>
    </form>
{% endblock %}
