/* ==========================================================================
   Peyman's custom styles
   ========================================================================== */
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url("../fonts/IRANSansWeb_Bold.7626d015e158.eot");
	src: url("../fonts/IRANSansWeb_Bold.7626d015e158.eot?#iefix") format('embedded-opentype'),  /* IE6-8 */
		 url("../fonts/IRANSansWeb_Bold.6ec03a37e370.woff2") format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url("../fonts/IRANSansWeb_Bold.a762a767a345.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url("../fonts/IRANSansWeb_Bold.4ff441e3b8c5.ttf") format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/IRANSansWeb_Medium.1121c0520a30.eot");
	src: url("../fonts/IRANSansWeb_Medium.1121c0520a30.eot?#iefix") format('embedded-opentype'),  /* IE6-8 */
		 url("../fonts/IRANSansWeb_Medium.bb6a9fe5edb6.woff2") format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url("../fonts/IRANSansWeb_Medium.74e2ab212452.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url("../fonts/IRANSansWeb_Medium.7a75459b25fc.ttf") format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/IRANSansWeb_Light.60f95f28d846.eot");
	src: url("../fonts/IRANSansWeb_Light.60f95f28d846.eot?#iefix") format('embedded-opentype'),  /* IE6-8 */
		 url("../fonts/IRANSansWeb_Light.414e7148a634.woff2") format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url("../fonts/IRANSansWeb_Light.469a8f6aa5b4.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url("../fonts/IRANSansWeb_Light.53a90b39dae0.ttf") format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 200;
	src: url("../fonts/IRANSansWeb_UltraLight.b8efb89efe7d.eot");
	src: url("../fonts/IRANSansWeb_UltraLight.b8efb89efe7d.eot?#iefix") format('embedded-opentype'),  /* IE6-8 */
		 url("../fonts/IRANSansWeb_UltraLight.5010d0152420.woff2") format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url("../fonts/IRANSansWeb_UltraLight.153b7b5a1579.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url("../fonts/IRANSansWeb_UltraLight.eeb1edcad9b2.ttf") format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/IRANSansWeb.e43cfbc1a67d.eot");
	src: url("../fonts/IRANSansWeb.e43cfbc1a67d.eot?#iefix") format('embedded-opentype'),  /* IE6-8 */
		 url("../fonts/IRANSansWeb.c6f46673e244.woff2") format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url("../fonts/IRANSansWeb.df14582918ca.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url("../fonts/IRANSansWeb.ac22d187130d.ttf") format('truetype');
}

body {
  font-family: IRANSans, Helvetica, sans-serif,Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: IRANSans, Tahoma, Helvetica, sans-serif,"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}
.topic-intro{min-height:60px;}.topic-body{min-height: 180px;}.topic-docs{min-height: 80px;}.row{margin-top:20px;}.question-date{float: left;font-style:italic;color: #b9b0b0; font-size: 12px;}.process-in-topic, .question-in-topic, .comment-in-topic{padding-bottom: 5px;}.question-body{}.question-des{font-size: 17px;}.question-ans{padding-bottom: 30px;}.answer-panel{;}.answer-des{font-size: 17px;}
.easy-icon{width: 20px;}.easy-icon-very-small{width: 10px;}.orgcomment-date, .comment-date {float: left;font-style:italic;color: #b9b0b0; font-size: 12px;}.orgcomment-user, .comment-name{font-size:13px; font-style: italic;}.orgcomment-rate{font-size:12px }.orgcomment{padding-bottom: 15px;}.orgcomment-panel, .comment-panel, .process-panel{margin-top: 20px; margin-bottom: 30px;} .sub-topic-title{font-size:22px;}

.alert-danger{padding:0 0 0 0;}

.display-error{color:red; text-align:right;}
textarea.description{height:100px;}
.form-control{margin-top: 5px; margin-bottom: 5px;}